.text-white{
  color: #fff;
}
.black-text{
  color: rgba(0, 0, 0, 0.80);
}
.grey-text{
  color: #7E7E7E;
}
.text-red{
  color: #FF745B;
}
.txt-14-roboto-500-140{
font-family: "roboto-medium";
font-size: 14px;
line-height: 140%; /* 19.6px */
}
.txt-12-source-sans-600-140{
font-family: "Source Sans Pro";
font-size: 12px;
line-height: 140%; /* 19.6px */
}
.txt-roboto-16-700{
  font-family: "roboto-bold";
  font-size: 16px;
  line-height: normal;
}
.txt-nunito-14-700-140{
  font-family: "Nunito Sans",sans-serif;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: 140%; 
}

.txt-orbitron-48-800-120{
font-family: "Orbitron",sans-serif;
font-size: 48px;
font-style: normal;
font-weight: 800;
line-height: 120%; /* 57.6px */

}
.txt-montserrat-20-700-140{
font-family: "Montserrat",sans-serif;
font-size: 20px;
font-style: italic;
font-weight: 700;
line-height: 140%;
}
.txt-montserrat-20-400-140{
font-family: "Montserrat",sans-serif;
font-size: 20px;
// font-style: italic;
font-style: normal;
font-weight: 400;
line-height: 140%;
}
.txt-montserrat-18-400-140{
  font-family: "Montserrat",sans-serif;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 140%; /* 25.2px */
}
.txt-montserrat-16-700-140{
 
font-family: "Montserrat",sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 140%; /* 22.4px */

}
.txt-montserrat-16-700-normal{
  font-family: "Montserrat",sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.txt-montserrat-16-500-140{
  font-family: "Montserrat",sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 140%;
}
.txt-montserrat-16-400-140{
  font-family: "Montserrat",sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 140%;
}
.txt-montserrat-16-600-140{
  font-family: "Montserrat",sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: 140%;
}
.txt-montserrat-20-400-150{
font-family: "Montserrat",sans-serif;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 30px */
}
.txt-montserrat-24-700-140{
font-family: "Montserrat",sans-serif;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: 140%; /* 30px */
}
.txt-montserrat-20-600-150{
font-family: "Montserrat",sans-serif;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: 150%; /* 30px */
}
.txt-montserrat-20-700-140{
font-family: "Montserrat",sans-serif;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: 140%; /* 30px */
}

.txt-montserrat-14-600-140{
font-family: "Montserrat",sans-serif;
font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: 140%; /* 30px */
}